.e-widget.e-card--icon_circle.is-primary
	i.e-card__icon.fa.fa-graduation-cap.pull-left
	p.e-card__title
		|#{$card_title_1}
		br
		|#{$card_title_2}
	.e-card__hover.e-card--icon_circle.is-secondary
		i.e-card__icon.fa.fa-graduation-cap.pull-left
		p.e-card__title
			|#{$card_title_1}
			br
			|#{$card_title_2}
		.e-card__content.clearfix #{$card_excerpt}
